@charset "utf-8";
/* CSS Document */

body{ padding:0px; margin:0px auto; color:#000000; text-decoration:none; font-size:12px; font-family:"宋体";}
a:link{ text-decoration:none; color:#000;}
a:visited{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color: #000;}
a:active{text-decoration:none; color:#000;}
img{ border:0px}
ul{ padding:0px; margin:0px}
li{ display:inline; float:left;}
td{ padding:0px; margin:0px}
hr,p,h2,h3,h4,h5{ margin:0px; padding:0px}
.ml3{ margin-left:3px;}
.ml6{ margin-left:6px; _margin-left:5px}
.ml20{ margin-left:20px;}
.mt5{ margin-top:5px;}
.mt15{ margin-top:15px;}
.ml7{ margin-left:7px;}
.ml15{ margin-left:15px;}
.mr5{ margin-right:5px;}
.mt3{ margin-top:3px;}
.mr10{ margin-right:10px;}
.txt_indext15{ text-indent:15px}
.txt_lnright{ text-align:right}


.content{ width:1000px; margin:0px auto;}
/*
.content td{ border:1px solid #000;}
*/
.title_yx p{ width:980px; float:left; margin-top:10px; margin-bottom:12px; line-height:22px; background:url(title_03.jpg) no-repeat;}
.title_yx p span{ margin-left:30px;}

.t1 td{border: 1px solid #e0e0e0;}


.t1 td{ line-height:30px;}
.t1 .cl{ width:138px; line-height:30px;}
.t1 .c2{ width:338px; line-height:30px;}
.t1 .c3{ width:361px; line-height:30px;}
.t1 .c4{ width:839px; line-height:30px;}
.wjnr{ width:978px; float:left; margin-top:20px; border:1px solid #e0e0e0;}
.wjnr .tit{ width:978px; float:left; height:30px; font-size:26px; font-weight:bold; color:#3d3d3d; text-align:center; margin:45px 0;}

.wjnr .con{ width:950px; float:left; padding-left:14px; padding-right:14px; line-height:28px; font-size:14px; color:#3d3d3d;}
.con_f{ width:980px; float:left; margin-top:38px; margin-bottom:28px;}
.con_f p{ width:980px; float:left; text-align:center; line-height:15px;}
.wjnr .con p{ padding-bottom:5px; font-size:14px; color:#111;}